{% extends 'layout/base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block content %}  
    <div 
        class="flex-1 flex flex-col" {{ react_component('HomePage')}}>
    </div>
{% endblock %}
