{% extends 'layout/base.html.twig' %}

{% block title %}Hello TestController!{% endblock %}

{% block body %}
    <h1 class="text-3xl font-bold text-purple-600">
        Tailwind fonctionne avec Symfony ! 🎉 
    </h1>

    <div {{ react_component('Hello', {fullName: 'LAURIE'})}}></div>


{% endblock %}
