{% extends 'base.html.twig' %}

{% block title %}Hello TestController!{% endblock %}

{% block body %}
<h1 class="text-3xl font-bold text-blue-600">
        Tailwind fonctionne avec Symfony ! 🎉
    </h1>
{% endblock %}
