{% block footer %}

<footer class="w-full p-4 border-t border-gray-200 shadow-sm md:flex md:items-center md:justify-between md:p-6 bg-darkBlueFccn">
    <span class="text-white sm:text-center">© 2025 Football Club Canal Nord. Tous droits réservés.
    </span>
    <ul class="flex flex-wrap items-center font-semibold text-white sm:mt-0">
        <li>
            <a href="#" class="hover:text-redFccn me-4 md:me-6">Contact</a>
        </li>
        <li>
            <a href="#" class="hover:text-redFccn me-4 md:me-6">Mentions Légales</a>
        </li>
        <li>
            <a href="#" class="hover:text-redFccn me-4 md:me-6">Documents Officiels</a>
        </li>
    </ul>
</footer>

{% endblock %}